<LINK href="http://sc.ct10000.com/common/main.css" type=text/css 
rel=stylesheet>
<style type="text/css">
<!--
.email_01 {
	font-family: "宋体";
	font-size: 15px;
	font-weight: bold;
	color: #9D3131;
}
.kk_01 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
-->
</style>
<TABLE width=630 height=94 align="center">
  <TBODY>
  <TR>
    <TD>
	    #if(${prodtype}=="50")		
		<table>
	    <TR>
           <TD width="100%" height="10"  align="left">您在${month}的消费总额为${allmount}元、可用余额${balance}元。详情请登录网上营业厅或您的189邮箱查看。</TD>         
        </TR>
		</table>
		#end
      <TABLE cellSpacing=0 width="100%" border=0>
        <TBODY>
        <TR>
          <TD width="119" rowSpan=2><a href="http://sc.ct10000.com" target="_blank"><img src="http://sc.ct10000.com/images/index2/logo.gif" width="170" height="47" /></a></TD>
          <TD width="159" rowSpan=2><img src="http://sc.ct10000.com/images/index2/logo_city.gif" width="177" height="47" /></TD>
          <TD width="336" align=right>&nbsp;</TD>
        </TR>
        </TBODY></TABLE>
      <TABLE height=13 width="100%">
        <TBODY>
        <TR>
          <TD></TD></TR></TBODY></TABLE>
      <TABLE height=5 cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY>
        <TR bgColor=#043e99>
          <TD width=530 bgColor=#043e99></TD>
<TD align=right width=180 
  bgColor=#fe7c24></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
  
  <TABLE width=620 height=94 border="0" align="center" cellpadding="0" cellspacing="0">
  <TR>
   <TD width="620"><a href="http://sc.ct10000.com/view/club/content.jsp?id=38897" target="_blank"><img src="http://sc.ct10000.com/images/ad/vip_gh.jpg" width="620" height="118" /></a></TD> 
  </TR></TABLE>
  
  
<TABLE width=600 align="center" background="http://sc.ct10000.com/images/email_call01_03.gif">
  <TBODY>
    <TR>
      <TD height=195 valign="top" background="http://sc.ct10000.com/images/email_call01_03.gif"><TABLE width=620 height="36" border=0 cellPadding=0 cellSpacing=0 background="http://sc.ct10000.com/images/mail_045.jpg">
        <TBODY>
          <TR>
            <TD width="17" valign="bottom"></TD>
            <TD width="585" valign="bottom" class="email_01">　　尊敬的中国电信客户，您${month}的帐单如下：</TD>
            <TD width="18" valign="bottom"></TD>
          </TR>
        </TBODY>
      </TABLE>
          <TABLE width=620 border=0 cellPadding=0 cellSpacing=0 background="http://sc.ct10000.com/images/mail_046.jpg">
            <TBODY>
              <TR>
                <TD width=18></TD>
                <TD align=center valign="middle" class="email_02"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="http://sc.ct10000.com/images/email_call01_03.gif">
                  <tr>
                    <td colspan="4" align="center">
					<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img name="" src="" width="2" height="10" alt="" /></td>
  </tr>
</table>
#foreach( $datarowff in $ticket )
 #set($datarowf = $datarowff)
#end
#set($productlist = $datarowf.getString("ACC_NBRS"))
#if($productlist=="" || $productlist=="NULL")
   #set($productlist = $productnbr)
#end
<table width="502" height="46" border="0" cellpadding="0" cellspacing="0" class="Huise12" >
<tr>
<td width="479" height="35" colspan="2" align="left" valign="top" style="padding-bottom:10px;">&nbsp;&nbsp;&nbsp;&nbsp;您当前查询产品的合同号为：$datarowf.getString("FEE_FAV")<br />
&nbsp;&nbsp;&nbsp;&nbsp;当前产品：${productnbr}<br />
&nbsp;&nbsp;&nbsp;&nbsp;账期：${month}<br />
&nbsp;&nbsp;&nbsp;&nbsp;账单时间：${date}<br />
&nbsp;&nbsp;&nbsp;&nbsp;多号码电子账单为您当前产品与其他产品共同交费的账单明细。
</td></tr></table>
<table width="502" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="5"><img src="http://sc.ct10000.com/images/Area/Kuang_a1.gif" width="5" height="6" /></td>
<td width="519" background="http://sc.ct10000.com/images/Area/Kuang_a2.gif"></td>
<td width="5" align="right"><img src="http://sc.ct10000.com/images/Area/Kuang_a3.gif" width="5" height="6"/></td>
</tr>
<tr>
<td height="28" background="http://sc.ct10000.com/images/Area/Kuang_a4.gif"></td>
<td bgcolor="#ffeacb" align="center"><table width="477" border="0" cellpadding="0" cellspacing="0" >
<tr>
<td width="324" align="left">&nbsp;&nbsp;&nbsp;<strong class="Huise12">账目名称</strong></td>
<td width="153" height="27" colspan="2" align="center" ><strong class="Huise12">金额(元)</strong></td>
</tr>
</table></td>
<td background="http://sc.ct10000.com/images/Area/Kuang_a5.gif"></td>
</tr>
<tr>
<td><img src="http://sc.ct10000.com/images/Area/Kuang_a6.gif" width="5" height="6" /></td>
<td background="http://sc.ct10000.com/images/Area/Kuang_a7.gif"></td>
<td><img src="http://sc.ct10000.com/images/Area/Kuang_a8.gif" width="5" height="6" /></td>
</tr>
</table>
<table width="477" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="8"></td>
</tr>
</table>
               #set($fooo = 0)
			  #foreach( $datarow in $ticket )
					
						 #if(${datarow.getString("acc_item_detail")}=="" || ${datarow.getString("acc_item_detail").length()}<1)
						    <table width="477" border="0" cellpadding="0" cellspacing="0" class="Huise12" style="margin-bottom:6px;">
							<tr>
							<td width="317" align="left" bgcolor="#ffefd5" style="padding-left:10px;"><strong class="Huise12">${datarow.getString("acc_item_type")}</strong></td>
							<td width="160" height="27" colspan="2" align="center" bgcolor="#ffefd5" ><strong class="Huise12">#set ($fee = $helpFactory.convertToMoney(${datarow.getInt("fee")}) )$fee</strong></td>
							</tr>
						    </table>
						     
						     #set($fooo = $fooo + $datarow.getInt("fee"))
						     
                                                     
						 #else
						        <table width="451" border="0" cellpadding="0" cellspacing="0" class="Huise12" >
	       						    <tr>
	       							<td width="383" align="left" style="padding-left:25px;">${datarow.getString("acc_item_detail")}</td>
	       						    <td width="68" height="24" colspan="2" align="center" >#set ($fee = $helpFactory.convertToMoney(${datarow.getInt("fee")}) )$fee</td>
	       						    </tr></table>
							
						 #end
							
					
			  #end
                          <table width="477" border="0" cellspacing="0" cellpadding="0">
       			  <tr>
       			   <td height="8"></td>
       			   </tr>
       			   </table>
       			    
       			    <table width="502" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:8px;">
       			    <tr>
       			    <td width="5"><img src="http://sc.ct10000.com/images/Area/Kuang_a1.gif" width="5" height="6" /></td>
       			    <td width="519" background="http://sc.ct10000.com/images/Area/Kuang_a2.gif"></td>
       			    <td width="5" align="right"><img src="http://sc.ct10000.com/images/Area/Kuang_a3.gif" width="5" height="6" /></td>
       			    </tr>
       			    <tr>
       			    <td height="28" background="http://sc.ct10000.com/images/Area/Kuang_a4.gif"></td>
       			    <td bgcolor="#ffeacb" align="center"><table width="477" border="0" cellpadding="0" cellspacing="0" >
       			    <tr>
       			    <td width="432" align="left"><strong class="Huise12">本周期费用合计(元)：</strong>￥$helpFactory.convertToMoney($fooo)元</td>
       			    <td width="45" height="27" colspan="2" align="center" ></td>
       			    </tr>

       			    </table></td>
       			    <td background="http://sc.ct10000.com/images/Area/Kuang_a5.gif"></td>
       			    </tr>
       			    <tr>
       			    <td><img src="http://sc.ct10000.com/images/Area/Kuang_a6.gif" width="5" height="6" /></td>
       			    <td background="http://sc.ct10000.com/images/Area/Kuang_a7.gif"></td>
       			    <td><img src="http://sc.ct10000.com/images/Area/Kuang_a8.gif" width="5" height="6" /></td>
       			    </tr>
			    
                             
			   </table>

                           #if(${if_score}=="0")
                            <table width="502" border="0" cellspacing="0" cellpadding="0">
     		        	<tr class="email_03">                    
                    <td colspan="3" align="center" class="email_03"><a href="http://sc.ct10000.com"><img src="http://sc.ct10000.com/images/jrwt01.gif"></a></td>
                                    </tr>
		  
			     <tr>
       			    <td width="311"><span class="color_14b_org">&nbsp;您的积分信息如下：</span></td>
       			    <td width="45" height="27" colspan="2" align="center" ></td>
       			    </tr>
                            
			     <tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>积分周期：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${month}</TD>
						<td></td>
                    </tr>
					<tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>当月新增积分：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${tele_integ}</TD>
						<td></td>
                    </tr>
					<tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>当前可用积分：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${curr_integ}</TD>
						<td ></td>
                    </tr>
					<tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>已兑换积分：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${cash_integ}</TD>
						<td ></td>
                    </tr>
				
		   <tr class="color_blue1">
                    <td colspan="3" align="left" valign="middle" class="email_02">
                      <P>　　您可登录中国电信网上营业厅积分商城尽享精彩礼品、话费，轻松兑换，查阅更多积分活动、积分兑换。</td>
                  </tr>

                   <tr class="email_03">
                    
                    <td colspan="3" align="center" class="email_03"><a href="http://sc.ct10000.com/view/order/netsky/toBestUnion.jsp"><img src="http://sc.ct10000.com/images/jfsc01.jpg"></a></td>
                    
                  </tr>
     		        	</table>


			   #end 

					<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img name="" src="" width="5" height="10" alt="" /></td>
  </tr>
</table>

					</td>
                  </tr>
                  
                                    <tr class="email_03">
                    <td width="24%">&nbsp;</td>
                    <td colspan="2" align="right" class="email_03">中国电信股份有限公司${cityname}分公司</td>
                    <td width="4%">&nbsp;</td>
                  </tr>
                                    <tr class="email_03">
                    <td>&nbsp;</td>
                    <td colspan="2" align="right" class="email_03">${date}</td>
                    <td>&nbsp;</td>
					
					
                                    <tr class="color_blue1">
                    <td height="123" colspan="4" align="left" valign="middle" class="email_02">　　
                      <P>　　尊敬的中国电信客户，此帐单便于您了解自己的通信费用支出情况，若有疑问，请拨打中国电信客户服务热线10000，2006年1月1日起中国电信按自然月计费，缴费时间为每月5日至次月4日。</td>
                  </tr>
                                    <tr class="email_03">
                                      <td colspan="4" align="center" valign="middle" class="email_03">中国电信四川公司版权所有，未经许可不得转载或建立镜像<br>
                                      客服电话 10000</td>
                                    </tr>
                                    
                </table>
		<TABLE cellSpacing="0" cellPadding="0" width="1" height="1" background=${guidurl} border=0>
		<tr><td>&nbsp;</td></tr>
		</TABLE> 
		</TD>
                <TD width=16></TD>
              </TR>
            
        </TABLE>
        <TABLE height="36" cellSpacing="0" cellPadding="0" width="620" 
      background="http://sc.ct10000.com/images/mail_044.jpg" border=0>
            <TBODY>
              <TR>
                <TD width="18" 
align=middle vAlign=top>&nbsp;</TD>
                <TD width="585" 
align=right vAlign=top class="email_03">&nbsp;</TD>
                <TD width="17" 
align=middle vAlign=top>&nbsp;</TD>
              </TR>
            </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
