<LINK href="http://sc.ct10000.com/common/main.css" type=text/css 
rel=stylesheet>
<style type="text/css">
<!--
.email_01 {
	font-family: "宋体";
	font-size: 15px;
	font-weight: bold;
	color: #9D3131;
}
.kk_01 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
-->
</style>
<TABLE width=630 height=94 align="center">
  <TBODY>
  <TR>
    <TD>
	 #if(${prodtype}=="50")		
		<table>
	  <TR>
          <TD width="612" height="10"  align="left">您在${month}的消费总额为${allmount}元、可用余额${balance}元。详情请登录网上营业厅或您的189邮箱查看。</TD>
          
        </TR>
		</table>
		#end
      <TABLE cellSpacing=0 width="100%" border=0>
        <TBODY>		
        <TR>
          <TD width="119" rowSpan=2><a href="http://sc.ct10000.com" target="_blank"><img src="http://sc.ct10000.com/images/index2/logo.gif" width="170" height="47" /></a></TD>
          <TD width="159" rowSpan=2><img src="http://sc.ct10000.com/images/index2/logo_city.gif" width="177" height="47" /></TD>
          <TD width="336" align=right>&nbsp;</TD>
        </TR>
        </TBODY></TABLE>
      <TABLE height=13 width="100%">
        <TBODY>
        <TR>
          <TD></TD></TR></TBODY></TABLE>
      <TABLE height=5 cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY>
        <TR bgColor=#043e99>
          <TD width=530 bgColor=#043e99></TD>
<TD align=right width=180 
  bgColor=#fe7c24></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
  
  <TABLE width=620 height=94 border="0" align="center" cellpadding="0" cellspacing="0">
  <TR>
   <TD width="620"><a href="http://sc.ct10000.com/view/club/content.jsp?id=38897" target="_blank"><img src="http://sc.ct10000.com/images/ad/vip_gh.jpg" width="620" height="118" /></a></TD> 
  </TR></TABLE>
  
<TABLE width=600 align="center" background="http://sc.ct10000.com/images/email_call01_03.gif">
  <TBODY>
    <TR>
      <TD height=195 valign="top" background="http://sc.ct10000.com/images/email_call01_03.gif"><TABLE width=620 height="36" border=0 cellPadding=0 cellSpacing=0 background="http://sc.ct10000.com/images/mail_045.jpg">
        <TBODY>
          <TR>
            <TD width="17" valign="bottom"></TD>
            <TD width="585" valign="bottom" class="email_01">　　尊敬的中国电信客户，您${month}的单产品帐单信息如下：</TD>
            <TD width="18" valign="bottom"></TD>
          </TR>
        </TBODY>
      </TABLE>
          <TABLE width=620 border=0 cellPadding=0 cellSpacing=0 background="http://sc.ct10000.com/images/mail_046.jpg">
            <TBODY>
              <TR>
                <TD width=18></TD>
                <TD align=center valign="middle" class="email_02"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="http://sc.ct10000.com/images/email_call01_03.gif">
                  <tr>
                    <td colspan="4" align="center">
					<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img name="" src="" width="2" height="10" alt="" /></td>
  </tr>
</table>
        #set ($fooo = 0)
	#set ($flag = false)
					#set ($fee_all = 0)
					#set ($phonenum = "")
          #foreach( $datarow in $ticket ) 				
					#if($phonenum == ${datarow.getString("fee_fav")})
					   #if(${datarow.getString("acc_item_detail")}=="" || ${datarow.getString("acc_item_detail").length()}<1)
					   #set ($fee_all = $fee_all + ${datarow.getInt("fee")})					   
					   #end
					#else
            #if ($phonenum != "")
              #if (${citycode} =="0832" || ${citycode} =="0813" || ${citycode} =="0831")
              #else
			    <table>
				 <tr>
					<td height=35 class="kk_01" ><B>　小计(元):</B></td>
					<td height=35 class="kk_01">$helpFactory.convertToMoney($fee_all)
                                        #set($fooo = $fooo + $fee_all)
					</td>
                </tr>
				</table>
               #end
            #end
					<table width="80%" border="0" cellspacing="1" cellpadding="0">
					
                  <tr>
                    <td width="20%" height="25" class="kk_01" align="right">城市编号：</td>					
                    <td width="30%" class="kk_01" align="left">
					#if ( ${citycode} == "0132" )
									<span>0832</span>
								#elseif ( ${citycode} == "0133" )
									<span>0833</span>
									   #elseif ( ${citycode} == "0128" )
									       <span>028</span>
									     #else 
									       $citycode
								#end
					</td>
                    <td width="20%" class="kk_01" align="right">电话号码：</td>
					#if (${citycode} =="0832" || ${citycode} =="0831")
                    <td width="30%" class="kk_01" align="left">${productnbr}</td>
					#else
					<td width="30%" class="kk_01" align="left">${datarow.getString("fee_fav")}</td>
					#end
                  </tr>
                  <tr>
                    <td height="25" class="kk_01" align="right">计费周期：</td>
                    <td class="kk_01" align="left">${month}</td>
                    <td class="kk_01" align="right">账单时间：</td>
                    <td class="kk_01" align="left">${date}</td>
                  </tr>
                </table>
				      <table width="80%" border="0" align="center" cellpadding="0" cellspacing="1">
                      <tr>
                        <TD width="60%" 
                height=28 class="kk_01" align="left">　<strong>费用项目</strong></TD>
                <TD width="40%" 
                height=28 class="kk_01" align="right"><strong>费用(元)</strong></TD>
                </tr>
               #if(${datarow.getString("acc_item_detail")}=="" || ${datarow.getString("acc_item_detail").length()}<1)			
					#set($fee_all = ${datarow.getInt("fee")})
					#end
					#set($phonenum = ${datarow.getString("fee_fav")})
					#end
					<tr>
						 #if(${datarow.getString("acc_item_detail")}=="" || ${datarow.getString("acc_item_detail").length()}<1)
						     <td width="60%" align="left" height=35 class="kk_01">${datarow.getString("acc_item_type")}</td>
						 #else
							<td width="60%" align="left" height=35 class="kk_01">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp${datarow.getString("acc_item_detail")}</td>
						 #end
							<td width="40%" align="right" height=35 class="kk_01">
							#set ($fee = $helpFactory.convertToMoney(${datarow.getInt("fee")}) )
								$fee </td>								
							
							#if ( ${citycode} == "0128" && $flag == false )
							      #if($prodtype=="50")
								      #set ($total =${datarow.getDouble("fee_total")})
								      #set ($flag = false)
							      #else
									    #set ($total = $helpFactory.convertToMoney(${datarow.getInt("fee_total")}))
									    #set ($flag = true)
							      #end 
							  #else
								    #set ($foo = ${datarow.getDouble("fee_total")}) 																 																
							  #end
							
				  </tr>
					
			 		#end
					#if (${citycode} =="0832" || ${citycode} =="0831")
          #else
		      <tr><td colspan="2">
			   <table>
				 <tr>
					<td height=35 class="kk_01" ><B>　小计(元):</B></td>
					<td height=35 class="kk_01">$helpFactory.convertToMoney($fee_all)
					#set($fooo = $fooo + $fee_all)
					</td>
                </tr>
				</table>
			  </td></tr>
			  #end
              <tr>
                <TD height=35 class="kk_01"><B>　费用总计(元)：</B>
				#if ( ${citycode} == "0128" )							 
					$total
				#elseif( ${citycode} =="0832" || ${citycode} =="0831" )
				$helpFactory.convertToMoney($fee_all)
				#else
				$helpFactory.convertToMoney($fooo)								  
				#end
				</TD>
                <TD height=35 class="kk_01" align="left">
				
				</TD>
                </tr>
                    </table>
					<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img name="" src="" width="5" height="10" alt="" /></td>
  </tr>
</table>

					</td>
                  </tr>       
                  
				      <tr class="email_03">
                    
                    <td colspan="4" align="center" class="email_03"><a href="http://sc.ct10000.com"><img src="http://sc.ct10000.com/images/jrwt01.gif"></a></td>
                    
                  </tr>
           #if(${if_score}=="0")
	   <tr class="email_03">
                    
                    <td colspan="4" align="left" class="email_03"><table><tr><td width="32"></td>
                    <td width="311"><span class="color_14b_org">&nbsp;您的积分信息如下：</span></td>
                    </tr></table></td>
                    
                  </tr>
				
                      <tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>积分周期：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${month}</TD>
						<td colspan="2"></td>
                    </tr>
					<tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>单月新增积分：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${tele_integ}</TD>
						<td colspan="2"></td>
                    </tr>
					<tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>当前可用积分：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${curr_integ}</TD>
						<td colspan="2"></td>
                    </tr>
					<tr>
                        <TD width="209" height=35 class="kk_01" align="right"><B>已兑换积分：</B></TD>
                        <TD width="321" height=28 class="kk_01" align="left">${cash_integ}</TD>
						<td colspan="2"></td>
                    </tr>
				
				 
				        <tr class="color_blue1">
                    <td colspan="4" align="left" valign="middle" class="email_02">
                      <P>　　您可登录中国电信网上营业厅积分商城尽享精彩礼品、话费，轻松兑换，查阅更多积分活动、积分兑换。</td>
                  </tr>
				   <tr class="email_03">
                    
                    <td colspan="4" align="center" class="email_03"><a href="http://sc.ct10000.com/view/order/netsky/toBestUnion.jsp"><img src="http://sc.ct10000.com/images/jfsc01.jpg"></a></td>
                    
                  </tr>
                  #end

                                    <tr class="email_03">
                    <td width="24%">&nbsp;</td>
                    <td colspan="2" align="right" class="email_03">中国电信股份有限公司${cityname}分公司</td>
                    <td width="4%">&nbsp;</td>
                  </tr>
                                    <tr class="email_03">
                    <td>&nbsp;</td>
                    <td colspan="2" align="right" class="email_03">${date}</td>
                    <td>&nbsp;</td>
                  
                                    <tr class="color_blue1">
                    <td height="123" colspan="4" align="left" valign="middle" class="email_02">　　
                      <P>　　尊敬的中国电信客户，此帐单便于您了解自己的通信费用支出情况，若有疑问，请拨打中国电信客户服务热线10000，2006年1月1日起中国电信按自然月计费，缴费时间为每月5日至次月4日。</td>
                  </tr>
                                    <tr class="email_03">
                                      <td colspan="4" align="center" valign="middle" class="email_03">中国电信四川公司版权所有，未经许可不得转载或建立镜像<br>
                                      客服电话 10000</td>
                                    </tr>
                                    
                </table></TD>
                <TD width=16></TD>
              </TR>
            </TBODY>
        </TABLE>
        <TABLE height="36" cellSpacing="0" cellPadding="0" width="620" 
      background="http://sc.ct10000.com/images/mail_044.jpg" border=0>
            <TBODY>
              <TR>
                <TD width="18" 
align=middle vAlign=top>&nbsp;</TD>
                <TD width="585" 
align=right vAlign=top class="email_03">&nbsp;</TD>
                <TD width="17" 
align=middle vAlign=top>&nbsp;</TD>
              </TR>
            </TBODY> 	    
      </TABLE>	 
	<TABLE cellSpacing="0" cellPadding="0" width="1" height="1" background=${guidurl} border=0>
	<tr><td>&nbsp;</td></tr>
        </TABLE>  	  
	  </TD>
    </TR>
  </TBODY>
</TABLE>
